<h2>TV show details</h2>

<table>
    <tr>
        <td>Name</td>
        <td>{{tv_shows.name}}</td>
    </tr>
    <tr>
        <td>Official Site:</td>
        <td><a href="{{tv_shows.official_site}}">{{tv_shows.official_site}}</a></td>
    </tr>
    <tr>
        <td>Rating</td>
        <td>{{tv_shows.rating}}</td>
    </tr>
    <tr>
        <td>Image</td>
        <td>
            <img src="{{tv_shows.image}}" alt="">
        </td>
    </tr>
    <tr>
        <td>Summary:</td>
        <td>{{{tv_shows.summary}}}</td>
    </tr>

</table>

<a href="/">Back</a>